// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#ffffff;
$menuActiveText:#BFBFBF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#00549C;
$menuHover:rgba(255,255,255,0.15);

$subMenuBg:#009ADF;
$subMenuHover:rgba(255,255,255,0.15);
$sideBarWidth: 210px;
$headerHeight: 56px;

:root {
    --global-headerHeight: 56px;
    --global-primaryColor: #0066FF;
}

$jbPrimaryColor: #00549C;
$jbPrimaryBtnBgColor: rgba(0, 84, 156, 0.8);
$jbSubPrimaryColor: rgba(91, 157, 255, 1);
$jbPrimaryTextColor: rgba(31, 130, 255, 1);
$jbPrimaryTextHoverColor: rgba(31, 130, 255, 0.25);
$jbPrimaryTableHeaderColor: rgba(31, 130, 255, 0.16);


:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;

  jbPrimaryColor: $jbPrimaryColor;
  jbSubPrimaryColor: $jbSubPrimaryColor;
  jbPrimaryTextColor: $jbPrimaryTextColor;
  jbPrimaryTextHoverColor: $jbPrimaryTextHoverColor;
  jbPrimaryTableHeaderColor: $jbPrimaryTableHeaderColor;
}
