:root {
  --global-headerHeight: 56px;
  --global-primaryColor: #5dc998;
}

:export {
  menuText: #ffffff;
  menuActiveText: #BFBFBF;
  subMenuActiveText: #f4f4f5;
  menuBg: #0bb584;
  menuHover: #00986c;
  subMenuBg: #04CD94;
  subMenuHover: #00986c;
  sideBarWidth: 210px;
  jbPrimaryColor: #00986c;
  jbSubPrimaryColor: #0bb584;
  jbPrimaryTextColor: #04CD94;
  jbPrimaryTextHoverColor: rgba(0, 152, 108, 0.25);
  jbPrimaryTableHeaderColor: rgba(31, 130, 255, 0.16);
}
