:root {
  --global-headerHeight: 56px;
  --global-primaryColor: #5dc998;
}

:export {
  menuText: #ffffff;
  menuActiveText: #BFBFBF;
  subMenuActiveText: #f4f4f5;
  menuBg: #5B9DFF;
  menuHover: #0066FF;
  subMenuBg: #1F82FF;
  subMenuHover: #0066FF;
  sideBarWidth: 210px;
  jbPrimaryColor: #0066FF;
  jbSubPrimaryColor: #5B9DFF;
  jbPrimaryTextColor: #1F82FF;
  jbPrimaryTextHoverColor: rgba(31, 130, 255, 0.25);
  jbPrimaryTableHeaderColor: rgba(31, 130, 255, 0.16);
}
